
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ LayoutUser.cshtml";
}

<h2 class="text-center">SÁCH MỚI</h2>
<hr>
<style>
    .justify-text {
        text-align: justify;
        font-size: 13px;
        height: 150px;
    }

    .ten {
        font-size: 20px;
        font-weight: 700;
        height: 50px;
    }

    .caption {
        width: 180px; /* Đặt chiều rộng cố định tại đây */
        height: 280px;
        margin: 10px; /* Để tạo khoảng cách giữa các phần tử */
        display: inline-block; /* Để các phần tử nằm cạnh nhau */
        vertical-align: top; /* Để các phần tử cùng nằm trên cùng một dòng */
    }

    .thumbnail {
        border: 2px solid #ddd;
    }
</style>
<div class="row text-center">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/nhasachmienphi-chua-troi-co-phai-la-nha-toan-hoc.jpg" alt="Thumbnail Image 1"
                 class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3 class="ten">Chúa trời có phải là nhà toán học?</h3>
                <p class="justify-text">Chúa trời có phải là nhà toán học? đề cập đến câu hỏi tại sao toán học lại hiệu quả và có sức mạnh ghê gớm trong việc mô tả từ các định luật của tự nhiên cho tới tính chất của các nút thắt.</p>
                <p>
                    <a href="#" class="btn btn-warning" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mua ngay
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/nhasachmienphi-chuyen-doi-lon.jpg" alt="Thumbnail Image 1"
                 class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3 class="ten">Chuyển đổi lớn </h3>
                <p class="justify-text">Chuyển đổi lớn, quyển sách best-seller của tác giả Nicholas Carr hướng chúng ta đến cuộc cách mạng mới liên quan đến máy tính, và đưa ra một thông điệp tuy đơn giản nhưng thật sâu sắc.</p>
                <p>
                    <a href="#" class="btn btn-danger" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mua ngay
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
        <div class="thumbnail">
            <img src="~/Images/nhasachmienphi-horrible-geography-bo-bien-bui-bo.jpg" alt="Thumbnail Image 1"
                 class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3 class="ten">Bờ Biển Bụi Bờ</h3>
                <p class="justify-text">
                    Tạm biệt những bài địa lý chán phèo để đến với Bờ biển bụi bờ!<br>
                    – Kinh ngạc! Trước con đường của người khổng lồ hùng vĩ!<br>
                    – Tái mặt! Khi lướt trên những con sóng dữ tợn.
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mua ngay
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/nhasachmienphi-horrible-geography-dai-duong-kho-thuong.jpg" alt="Thumbnail Image 1"
                 class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3 class="ten">Đại Dương Khó Thương </h3>
                <p class="justify-text">Địa lý với những tấm bản đồ rắc rối, những khối đá trơ trơ và những đồ thị vô hồn có làm bạn chán ngấy? Yên tâm đi, trong Đại dương khó thương không hề có những thứ đó, chỉ toàn những chuyện rùng mình </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mua ngay
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/nhasachmienphi-horrible-histories-nguoi-ai-cap-xac-uop-cung-phai-choang-vang.jpg" alt="Thumbnail Image 1"
                 class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3 class="ten">Người Ai Cập</h3>
                <p class="justify-text">Bạn sẽ học cách tạo ra xác ướp riêng cho mình, kiểm tra xem lý thuyết rằng kim tự tháp có phép thuật là đúng hay sai. Ngoài những mẹo hữu ích này ra, bạn còn được nghe kể về những vị Pha-ra-ông ranh mãnh và những thói xấu.</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mua ngay
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
        <div class="thumbnail">
            <img src="~/Images/nhasachmienphi-horrible-science-hoa-hoc-mot-vu-no-am-vang.jpg" alt="Thumbnail Image 1"
                 class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3 class="ten"> Hóa Học – Một Vụ Nổ Ầm Vang</h3>
                <p class="justify-text">Hóa học chỉ là thứ bốc mùi nồng nặc? Nghe đến từ này là bạn thấy hiện lên trong đầu mình toàn những phân tử rối rắm và những lý thuyết khô cằn? Nếu thế thì rõ là bạn chưa biết đến những khía cạnh thật sự thu hút </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mua ngay
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px; /* Điều chỉnh khoảng cách từ trên xuống nếu cần */
    }
    /* Định dạng cho các mục trong danh sách pagination */
    .pagination li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        margin-right: 1px;
    }

        /* Màu nền xanh cho mục được chọn */
        .pagination li:hover {
            background-color: skyblue;
            color: white;
            border-color: #ffd800;
        }

        /* Thêm khung bao quanh mỗi ô vuông */
        .pagination li a {
            display: block;
            text-decoration: none;
            width: 28px;
            height: 28px;
        }

</style>
<nav class="text-center">
    <ul class="pagination">

        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>

        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>



